
body{
	background: -webkit-linear-gradient(grey, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(grey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(grey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(grey, white); /* Standard syntax */
}
#intialQuestionBox{

	width: 500px;
	height: 50px;
	margin: 0 auto 0 auto;
	/*border: solid blue;
*/	color: white;
}
#question{
	margin-left: 15%;
	font-size: 35px;
}
#optionsBox{
	margin-top: 40px;
	width: 100%;
	height: 110px;
	margin: 0 auto 0 auto;
	/*border: solid red;*/
	margin-bottom: 5px;
}
#controllerBox{
	
	width: 100%;
	height: 100px;
	margin: 0 auto 0 auto;
	margin-bottom: 30px;
	/*border: solid blue;*/
}
.controll{

	height: 50px;
	margin-top: 30px;
	margin-left: 17%;
	background-color: white;
	color: black;
}


#dimensionsBox{
	margin-top: 10px;
	width: 100%;
	height: 50px;
	margin: 0 auto 0 auto;
	/*border: solid blue;*/
	color: white;
}
.dimensionInput{
	/*visibility: hidden;*/
}
.option{

	height: 60px;
	margin-top: 30px;
	margin-left: 25px;
	margin-right: 10px;
	background-color: black;
	color: white;
	padding-top: 10px;

}
.button{
	width: 90px;
	border-radius: 10px;
	text-align: center;
	margin-bottom: 10px;
	float: left;
	cursor: pointer;
	/*display: table-cell;*/
	vertical-align: center;
}
.lessText{
	padding-top: 30px;
	height: 40px;
	
}
.dimensionInput{
	margin-right: 10px;
	margin-left: 35px;
	float: left;

}
.tableBox{
	float: left;
	width: 30%;
	margin-right: 3%;
	margin-top: 10px;
	height: 50%

}
.matrix{
	/*margin-right: 10px;*/
	/*margin-top: 40px;*/
	/*border: solid red;
	*/width: 100%;

}

#myTable1{
	
	
}

#myTable2{
	
	
}

#myTable3{
	
	
}

#matrixBox{
	/*margin-bottom: 50px;*/
	/*border: solid black;*/
	height: 200px;
}

#xBox{
	font-size: 24px;
	/*margin-right: 50px;*/
	margin-top: 100px;
	visibility: hidden;
}

#equalBox{
	font-size: 24px;
	/*margin-right: 50px;*/
	margin-top: 100px;
	visibility: hidden;
}

#collumnInput1{
	margin-right: 50px;
}

#solutionBox{

	/*border: solid blue;
*/	height: 150px;
	width: 100%;

}

#animationText{
	margin: 0 auto 0 auto;
}
input[type="text"] {

	width: 100%;

}


td{
	/*border: solid black;*/
	
}

